.general-container {
  text-align: center;
  height: 85vh;
}

.spinner-container {
  text-align: center;
}

.img-container {
  max-width: 30%;
}

.card-container {
  cursor: pointer;
}

.card-container:hover {
  border-color: #212529;
}
