.employees-container {
  //background-color: lightpink;
}

.general-container {
  //background-color: aquamarine;
  height: auto;
  text-align: center;
}

.spinner-container {
  text-align: center;
}

.img-container{
  max-width: 30%;
}
