<div class="container container-md container-lg container-sm modal-dialog p-5">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Employee information</h4>
            <button type="button" class="btn-close" aria-label="Close" mat-dialog-close></button>
        </div>

        <div class="modal-body mt-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/users/avatar/{{data.employee.id}}.jpg" class="card-img-top p-3 rounded-circle "
                             alt="image not available for {{data.employee.name}} {{data.employee.surname}} {{data.employee.surname2}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{data.employee.name}} {{data.employee.surname}} {{data.employee.surname2}}</h5>
                            <p class="card-text">Employee ID: {{data.employee.id}}</p>
                            <p class="card-text"> Phone: {{data.employee.phone}}</p>
                            <p class="card-text">
                                Country: {{(data.employee["country-id"] |country)?.description ?? 'Country not found'}}</p>
                            <p class="card-text"> Sex: {{(data.employee.sex | sex)?.description}}</p>
                            <p class="card-text"> Birthday: {{data.employee.datebirthday | date:  'dd/MM/yyyy'}}</p>

                            <p class="card-text"><small class="text-muted">Last
                                modification {{data.employee.lastModification | date: 'dd/MM/yyyy HH:mm'}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
